html, body {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  background: #F1F4F8;
}

/* ========== 1) Sidenav ========== */

.sidenav {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 0%;
  right: 94.73%;
  top: 0%;
  /* bottom: -0.08%; */
  bottom: 0%;
  background: #042235;
}

.sidenav-icons {
  display: block;
  margin: auto;
  height: 5.27vw;
}

.sidenav-buttons {
  cursor: pointer;
}

.sidenav-buttons.selected {
  background: #2995DA;
}

.sidenav-buttons.unselected:hover {
  background: #011724;
}

/* ========== 2) Navbar ========== */

.navbar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: 5.27%;
  /* right: -0.13%; */
  right: 0%;
  top: 0%;
  bottom: 93.33%;
  background: #fff;
  z-index: 1;
  box-shadow: 0px 1px 0px #E2E2E2, 0px 0px 4px rgba(0, 0, 0, 0.05);
}

.navbar-details {
  display: flex;
  align-items: center;
}

.appname {
  padding: 0 2rem;
  border-right: 1px solid #E2E2E2;
}

.breadcrumbs {
  padding: 0 1.5rem;
}

.notification-icon {
  margin-right: 1rem;
  transform: translateY(-10%);
}

.profile-pic {
  margin: auto 0.5rem auto 0.75rem;
  width: auto;
  height: 2.5rem;
}

.caret {
  margin-right: 2.5rem;
}

/* ========== 3) Header ========== */

.header {
  position: absolute;
  left: 5.27%;
  right: 0%;
  top: 6.67%;
  bottom: 81.17%;
  background: #fff;
}

/* ========== 4) Content ========== */

.content {
  position: absolute;
  left: 8.04%;
  right: 25.56%;
  top: 22.33%;
  /* bottom: -1.08%; */
  background: #fff;
}

/* ========== 5) Activity Feed ========== */

.activityfeed {
  position: absolute;
  left: 76.61%;
  right: 2.57%;
  top: 22.33%;
  bottom: 39.33%;
  background: #fff;
}